#detail {
  .container {
    position: relative;
    .row {
      justify-content: center;
      border: 2px solid var(--mainDark);
      padding: 3vw;
      margin: 1vw 2vw;
    }
  }
  .row:first-child {
    position: relative;
    .weather-icon {
      color: white;
      z-index: 0;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
    }
  }
  button {
    display: block;
    margin: 0 auto;
    padding: 1vw 5vw;
    background-color: var(--mainDark);
    color: white;
  }
  button:hover {
    border: 2px solid white;
  }
}
