.card {
  position: relative;
  background-color: transparent;
  padding: 5%;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.233);
  cursor: grab;
}
.card:hover {
  border: 1px solid white;
  box-shadow: 0 0 10px rgba(24, 17, 17, 0.473);
}

hr {
  border-top: 5px solid rgb(0, 0, 0);
  width: 30%;
  margin: 10px auto;
  opacity: 1;
  border-radius: 15px;
}

.warning {
  text-align: center;
}

.weather-icon {
  position: absolute;
  width: 60%;
  height: 60%;
  color: rgba(255, 255, 255, 0.37);
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-text {
  text-align: center;
}

.title {
  margin: 20px 0;
  border-bottom: 3px solid var(--mainDark);
  padding: 10px;
}
