input,
select {
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  color: var(--light);
  max-width: 100%;
  padding: 10px;
}
#navigation {
  margin-bottom: 20px;
  padding: 4vw;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    #search {
      max-width: 50%;
      position: relative;
      .searchIcon {
        position: absolute;
        right: 0;
        height: 100%;
        width: 15%;
        max-width: 20px;
      }
    }
    #filter {
      width: 50%;
      max-width: 50%;
      option {
        background-color: var(--main);
        padding: 10px;
      }
    }
  }
}
p {
  margin: 0;
  padding: 0;
}
